body {
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to left, rgb(19, 69, 120),rgb(64, 138, 188));
  }
  
  .main-nav {
    background: rgb(54, 177, 218);
    padding: 16px;
    padding-bottom: 64px;
    box-shadow: 0 0 10px rgb(33, 34, 35);
    text-align: center;
  
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  
      li {
        width: 100px;
        display: inline-block;
        color: #fff;
        padding: 1.5em 1em;
        text-align: center;
        border-radius: 10px;
        margin-right: 1em;
        cursor: pointer;
      a {
            text-decoration: none;
            color: #fff;
          }

        &:last-of-type {
          margin-right: 0;
        }
  
        &:hover {
          background: rgb(29, 114, 143);
        }
  
        i {
          display: block;
          font-size: 2.5em;
        }
  
        span {
          display: block;
          margin-top: 1em;
        }
      }
    }
  }
  
  .content_box {
    width: 90%;
    height: 500px;      
    background: #fff;
    margin: 0 auto;
    margin-top: -3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1em;
  }
    h1.title {
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 0;
      padding-bottom: 0.4em;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    }